<div id="container">
    <div class="section-title" >Dashboard</div>
    <div class="line-gap" ></div>
    <div id="information" >Information from <span id="today">today</span></div>
    <div id="insurancestatus">
        <div id="box1" >
          <div class="status">
            <div class="textstatuswrapper">
            <span class="strong">{{registeredVehicles}}</span> Registered Vehicles <br>
            <span class="date">As of 11 Sept 2017</span>
            </div>
          </div>
        </div>
        <div id="box2" >
          <div class="status">
            <div class="textstatuswrapper">
              <span class="strong">590</span> Customers <br>
              <span class="date">As of 11 Sept 2017</span>
            </div>
          </div>
        </div>
        <div id="box3" >
          <div class="status">
            <div class="textstatuswrapper">
              <span class="strong">120</span> Vehicle Alerts <br>
              <span class="date">As of 11 Sept 2017</span>
            </div>
           </div>
        </div>
    </div>
    <div id="graph">
      <div class="wrapper">
        <div class="title">
        Claim History
        </div>
      </div>
    </div>
    <div id="alerts">
      <div class="wrapper">
        <div class="title">
          Recent Vehicle Alerts
        </div>

        <div id="tabletitle">
          <div class="event">
            Event ID
          </div>
          <div class="event">
            Time
          </div>
          <div class="event">
            Event Type
          </div>
        </div>
          <div class="line-gap2">
          </div>
            <div class="z1">
              0xddnudnikfhdlkhdf
            </div>
            <div class="z1">
              02:10AM
            </div>
            <div class="z1">
              Accident
            </div>
          <div class="z1">
            0xddnudnikfhdlkhdf
          </div>
          <div class="z1">
            02:10AM
          </div>
          <div class="z1">
            Accident
          </div>
            <div class="z1">
              0xddnudnikfhdlkhdf
            </div>
            <div class="z1">
              02:10AM
            </div>
            <div class="z1">
              Accident
            </div>
          <div class="z1">
            0xddnudnikfhdlkhdf
          </div>
          <div class="z1">
            02:10AM
          </div>
          <div class="z1">
            Accident
          </div>
            <div class="z1">
              0xddnudnikfhdlkhdf
            </div>
            <div class="z1">
              02:10AM
            </div>
            <div class="z1">
              Accident
            </div>
      </div>
    </div>
    <div id="circle">
      <div class="wrapper">
        <div class="title">
          Claim Breakdown
        </div>
        <div class="line-gap3">
        </div>
      </div>
    </div>
</div>
<div *ngIf="order && order.vehicleDetails" class="notification-window">
  <app-popup [orderDetails]="order"></app-popup>
</div>