#container
{
    margin-top: 25px;
    width: calc(100% - 310px);
    position: absolute;
}
.section-title
{
    font-family:OpenSans;
    font-size:16px;
    color:#454856;
    letter-spacing:0;
    text-align:left;
}
.line-gap
{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #dcd4f7;
    width:100%;
    height:2px;
}
#information
{
    font-family:OpenSans;
    font-size:14px;
    color:#454856;
    letter-spacing:0;
    text-align:left;
}

#today{
    font-family:OpenSans-Semibold;
    font-size:14px;
    color:#454856;
    letter-spacing:0;
    text-align:left;
    text-decoration: underline;
}

#insurancestatus{
    width: 100%;
    height: 200px;
    margin-top: 28px;
}

.status{
    font-family:OpenSans;
    margin-left: 0px;
    margin-top: 30px;
    font-size: 25px;
}

.textstatuswrapper{
    margin-left: 20px;
    margin-top: 30px;
}

.strong{
    font-family:OpenSans;
    font-size: 25px;
    font-weight: bold;
}

.date{
    font-style: italic;
    font-size: 12px;
}

.logo{
    margin-left: 28px;
    margin-bottom: 27px;
    margin-top: 27px;
    opacity:0.1;
}


#box1{
    border:1px solid #dcd4f7;
    width:calc(33% - 12px);
    height:197px;
    float: left;
    margin-right:20px;
}

#box2{
    border:1px solid #dcd4f7;
    width:calc(33% - 12px);
    height:197px;
    float: left;
    
}

#box3{
    border:1px solid #dcd4f7;
    width:calc(33% - 12px);
    height:197px;
    float: right;
}

#graph{
    width: 100%;
    height: 240px;
    border:1px solid #dcd4f7;
    margin-top: 19px;
}

#alerts{
    border:1px solid #dcd4f7;
    width:calc(67% - 22px);
    height:321px;
    margin-top: 20px;
    float: left;
}

#circle{
    border:1px solid #dcd4f7;
    width:33%;
    height:321px;
    margin-top: 20px;
    float: right;
}

.wrapper{
  margin-top: 20px;
  margin-left: 20px;
}

.title{
    font-family:OpenSans;
    font-size:16px;
    color:#454856;
    letter-spacing:0;
    text-align:left;
}

#tabletitle{
    margin-top: 20px;
}

.event{
   
    width: 33.3%;
    height: 20px;
    float: left;
    margin-right: 10px;
    float: left;
}




.line-gap2{
    margin-top: 55px;
    margin-bottom: 25px;
    background-color: #dcd4f7;
    width:90%;
    height:2px;
}

#tablewrapper{
    height: 150px;
    background-color: grey;
}

.table{
    width: calc(100% - 20px);
    font-family:OpenSans;
    font-size:14px;
    color:#454856;
    letter-spacing:0;
    text-align:left;
    margin-top: 22px;
    border-collapse: collapse;
}

.table td{
    padding: 12px 0 12px 0;
}

.table tr:first-child td{
    border-bottom: #dcd4f7 solid 1px;
    opacity: 0.5;
}

.line-gap3{
    margin-top: 10px;
    margin-bottom: 25px;
    background-color: #dcd4f7;
    width:90%;
    height:2px;
}

.z1{
    
    
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    background-color: gold;
}

#container::after
{
    content: "";
    display: block;
    clear: block;
}