<div id="container">
    <div class="section-title" >Dashboard</div>
    <div class="line-gap" ></div>
    <div id="information" >Information from <span id="today">today</span></div>
    <div id="insurancestatus">
        <div id="box1" >
          <div class="status">
            <div class="textstatuswrapper">
            <span class="strong">{{num_policies}}</span> Registered Vehicles <br>
            <span class="date">As of 11 Sept 2017</span>
            </div>
            <div class="picture">
              <img src="assets/images/car.svg" class="logo"/>
            </div>
          </div>
        </div>
        <div id="box2" >
          <div class="status">
            <div class="textstatuswrapper">
              <span class="strong">{{num_policies}}</span> Customers <br>
              <span class="date">As of 11 Sept 2017</span>
            </div>
            <div class="picture">
              <img src="assets/images/head.svg" class="logo"/>
            </div>
          </div>
        </div>
        <div id="box3" >
          <div class="status">
            <div class="textstatuswrapper">
              <span class="strong">120</span> Vehicle Alerts <br>
              <span class="date">As of 11 Sept 2017</span>
            </div>
            <div class="picture">
              <img src="assets/images/alert.svg" class="logoalert"/>
            </div>
           </div>
        </div>
    </div>
    <div id="graph">
        <img src="assets/images/graphfinal.PNG" class="graphpic"/>
    </div>
    <div id="alerts">
      <div class="wrapper">
        <div class="title">
          Recent Vehicle Alerts
        </div>

      
        <table class="table">
          <tbody>
          <tr>
          <td>Event ID</td>
          <td>Time</td>
          <td>Event type</td>
          </tr>
          <tr>
          <td>13252767GZGHGFJGKUHJBJkj</td>
          <td>02:15AM</td>
          <td>Accident</td>
          </tr>
          <tr>
          <td>13252767GZGHGFJGKUHJBJkj</td>
          <td>02:15AM</td>
          <td>Accident</td>
          </tr>
          <tr>
          <td>13252767GZGHGFJGKUHJBJkj</td>
          <td>02:15AM</td>
          <td>Accident</td>
          </tr>
          <tr>
          <td>13252767GZGHGFJGKUHJBJkj</td>
          <td>02:15AM</td>
          <td>Accident</td>
          </tr>
          </tbody>
          </table>
       
      
       
           
      </div>
    </div>
    <div id="circle">
      <div class="wrapper">
        <div class="title">
          Claim Breakdown
        </div>
        <div class="line-gap3">
        </div>
        <img src="assets/images/circlefinal.PNG" class="circlepic"/>
      </div>
    </div>
</div>
<div id="notification-window" class="hidden">
  <app-popup></app-popup>
</div>