<div class="background"></div>

<div id="container">
  <div id="wrapper">
  <div id="title">
    New Vehicle Insurance
  </div>
  <div id="body">
    <div id="text1">
      <div class="texttitle">
      Kathryn Harris<br>
      </div>
      <br>
      With Prince Insurance since<br>
      November 2014<br>
      <br>
      Live at: <br>
      40 Garick Pass<br>
      Newbury<br>
      United Kingdom
      <div id="risk">
          Risk Rating
      </div>
      <div id="dots">
        <div class="dot">
          <div class="filldot">
          </div>
        </div>
        <div class="dot">
          <div class="filldot">
          </div>
        </div>
        <div class="dot"> 
          <div class="filldot">
          </div> 
        </div>
        <div class="dot">  
        </div>
        <div class="dot">  
        </div>
      </div>
    </div>
    <div id="text2">
      <div class="texttitle">
        Arium Nova <br>
      </div>
      <br>
      New Vehicle<br>
      Owned by: Kathryn Harris<br>
      Registered on: 8 Jan 2017<br>
      2.4L Engine, 340 bhp<br>
      5 Doors<br>
      Tinted Window<br>
      Executive Trim<br>
      Colour: Loud Red
      <div id="cancelbox">
        <div id="canceltitle">
          cancel
        </div>
      </div>
    </div>
    <div id="pic">
      <img src="assets/images/bmw_1.jpeg" width="200px" height="200px">
      <div id="approve">
          <div id="approvetitle">
            Approve Insurance
          </div>
      </div>
    </div>
  </div>
 </div>
</div>
