<div class="sidebar">
  <h1>Prince</h1>

  <ul>
    <li [ngClass]="{selected: selected === 'overview'}" [routerLink]="['/overview']" (click)="select('overview')">Overview</li>
    <li [ngClass]="{selected: selected === 'customers'}" [routerLink]="['/policy/213']" (click)="select('customers')">Customers</li>
    <li class="disabled">Vehicle Information</li>
    <li class="disabled">Quotes</li>
    <li class="disabled">Cover Information</li>
    <li class="disabled">Support</li>
    <li class="disabled">Admin</li>
  </ul>
</div>
