/* You can add global styles to this file, and also import other style files */

html, body, app-policy, .app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
}

.sidebar {
  width: 300px;
}

.container {
  height: 100%;
  width: calc(100% - 300px);
}

button {
  border-radius: 0;
  height: 45px;
  background: #e4e4e4;
  border: 1px solid grey;
  padding: 0 30px;
}

button:hover {
  background: white;
  cursor: pointer;
}

.button-default {
  background: white;
}