<div id="container">
    <div class="section-title" >Customers // Kathryn Harris</div>
    <div class="line-gap" ></div>
    <div id="customer-name" >Kathryn Harris</div>
    <div id="policy-details-holder">
        <div id="customer-details" >
            Owner of an <b>Arium {{car.vehicleDetails.modelType}}</b><br />
            With Prince Insurance since November 2014<br />
            Insured on <b>25 November 2017</b><br /><br />
            Lives at:<br />
            40 Garick Pass<br />
            Newbury<br />
            United Kingdom
        </div>
        <div id="car-details" >
            <b>Arium {{car.vehicleDetails.modelType}}</b><br />
            New Vehicle<br />
            Owned by: Kathryn Harris<br />
            Registered on: 8 Jan 2017<br />
            2.5L Engine 240bhp<br />
            5 Doors<br />
            Tinted Windows<br />
            Executive Trim<br />
            Colour: Loud Red
        </div>
    </div>
    <div class="section-title" >Live Vehicle Information</div>
    <div class="line-gap" ></div>
    <div class="small-title" >Sensor Test</div>
    <div id="connection-test" >Click device button to test connection</div>
    <div id="live-data" >
        <div class="data-field">
            <div class="small-title" >Acceleration</div>
            <span>0.26g</span>
        </div>
        <div class="data-field">
            <div class="small-title" >Temperature</div>
            <span>75f</span>
        </div>
        <div class="data-field">
            <div class="small-title" >Humidity</div>
            <span>15%</span>
        </div>
        <div class="data-field">
            <div class="small-title" >Light</div>
            <span>45lux</span>
        </div>
    </div>
    <div class="small-title" >Location</div>
    <div class="car-location">
        <div id="mapid"></div>
    </div>
    <div class="section-title" >Alert Information</div>
    <div class="line-gap" ></div>
    <div class="alert-block" >
        <div class="left-column" >
            <div class="notification-title" ><img src="assets/images/loudspeaker.png" width="22px" height="14px" alt="loudspeaker icon" />Alert!</div>
            <div class="alert-time" >
                <div class="small-title" >Accident</div>
                13 Jul 2017 07:35PM
            </div>
            <div class="event-details" >
                <div class="tiny-header" >Event ID</div>
                14furc5Xw1YVHxw9rNmPrdt7G
            </div>
        </div>
        <div class="alert-detailed-data" >
            <div class="data-field">
                <div class="small-title" >Acceleration</div>
                <span>2.48g</span>
            </div>
            <div class="data-field">
                <div class="small-title" >Temperature</div>
                <span>75f</span>
            </div>
            <div class="data-field">
                <div class="small-title" >Humidity</div>
                <span>15%</span>
            </div>
            <div class="data-field">
                <div class="small-title" >x: 1.45</div>
                <div class="small-title" >y: 2.48</div>
                <div class="small-title" >z: 0.98</div>
            </div>
            <div class="data-field">
                <div class="small-title" >Light</div>
                <span>45lux</span>
            </div>
        </div>
    </div>
</div>